body{
	background-color: #fff;
}
#game{
	margin-left: 10%;
	margin-right: 10%;
	height: auto;
	background-color: #66a8f7b0;
	font-weight: bolder;
}
.flogin{
	margin-left: 50%;
	padding-bottom: 2%;
}
.indicadores{
	padding-top: 2%;
	color: #fff;
}
.esqueceu{
	color: #fff;
}
a:link {
  color: #fff;
  text-decoration:none; 
}

/* visited link */
a:visited {
  color: #fff;
  text-decoration:none; 
}

/* mouse over link */
a:hover {
  color: #fff;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #fff;
  text-decoration: underline;
}